
.menu__container{
    position: fixed;
    inset: 0;
    padding: 4px;
    background-color: rgb(22, 22, 22);
    transform: translateX(100%);
    transition: transform .4s ease;
}

.open{
    transform: translateX(0);
}

.menu_section{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    gap: 10px;
    margin: 0px auto;
}

.header_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.middle_part{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 4px;
}

.menu_buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom_part{
    display: flex;
    flex-direction: column;
    padding: 4px;
}