
.content__container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    width: 100%;
    gap: 20px;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 80px;
}

.top_part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    p{
        margin: 0;
    }
}

.bottom_part{
    margin-top: 10px;
}

.list_videos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 12px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    box-sizing: border-box;
}

@media (min-width: 1440px){
    .content{
        max-width: 1420px;
    }

    .content .list_videos{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}