
.button_again{
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    outline: none;
    border: none;
    background-color: #2c2f32;
    font-size: 14px;
    color: rgb(255, 98, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.button_again.disabled{
    background-color: #1c1c1c;
    border: 1px solid #3a3a3a;

    span{
        color: rgb(162, 162, 162);
    }
}