
.error_button{
    display: flex;
    justify-content: start;
    align-items: center;
}

.error_text{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: rgb(198, 0, 0);
}