
.subtitles_panel{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 1 0;
    width: 100%;
    background-color: #232323;
    border-radius: 8px;
}

.popup_word{
    position: absolute;
    top: -48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 140px;
    width: 100%;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 4px;
    padding: 22px;
    gap: 4px;
    z-index: 50;

    .selected_text{
        text-align: center;
        padding: 2px;
        margin: 0;
        border: 1px solid rgb(129, 129, 129);
        border-radius: 2px;
        box-shadow: none;
    }
}


.button_add{
    user-select: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: rgb(255, 173, 106);

    p{
        margin: 0;
        font-size: 14px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
    }
}

.track{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.subtitles_en{
    text-align: center;
    .en{
        user-select: text;
        font-size: 22px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0;
    }
}

.subtitles_ru{
    p{
        user-select: none;
        color: rgb(169, 169, 169);
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0;
    }
}



@media (max-width: 768px){
    .button_add{
        user-select: none;
        cursor: pointer;
        text-align: center;
        width: 100%;
        padding: 2px 2px;
        border-radius: 2px;
        background-color: rgb(255, 173, 106);

        p{
            margin: 0;
            font-size: 12px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(0, 0, 0);
        }
    }

    .popup_word{
        position: absolute;
        top: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 80px;
        width: 100%;
        border: 1px solid rgb(66, 66, 66);
        border-radius: 4px;
        padding: 6px;
        gap: 4px;
        z-index: 50;

        .selected_text{
            text-align: center;
            padding: 2px;
            margin: 0;
            border: 1px solid rgb(129, 129, 129);
            border-radius: 2px;
            box-shadow: none;
        }
    }

    
    .subtitles_en{
        text-align: center;
        .en{
            user-select: text;
            font-size: 18px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 0;
        }
    }

    .subtitles_ru{
        p{
            user-select: none;
            color: rgb(169, 169, 169);
            font-size: 12px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 0;
        }
    }
}

@media (min-width: 1440px){
    .subtitles_en .en{
        font-size: 24px;
    }

    .subtitles_ru p{
        font-size: 18px;
    }
}