
.button{
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color: #191919;
    border-radius: 4px;
}

.button svg{
    width: clamp(22px, 4vw, 26px);
}