

.svg_block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;

}

.svg_block svg{
    width: clamp(18px, 4vw, 24px);
    height: clamp(18px, 4vw, 24px);
}

.dict{
    background-color: rgb(46, 26, 10);
}

.train{
    background-color: rgb(42, 41, 10);
}

.videos{
    background-color: rgb(46, 26, 10);
}

.logout{
    background-color: rgb(47, 11, 11);
}