
.edit_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 2px;

    label{
        color: rgb(111, 98, 88);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
    }

    input::placeholder,
    textarea::placeholder{
        color: rgb(92, 92, 92);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
    }
}

.edit_input input, textarea{
    padding: 10px 12px;
    border-radius: 12px;
    background-color: rgb(35, 36, 37);
    border: 1px solid rgb(52, 52, 52);
    box-shadow: none;
    color: rgb(218, 218, 218);
    outline: none;
    transition: all .3s ease;
}

.edit_input input:focus, 
.edit_input textarea:focus{
    border-color: rgb(245, 156, 61);
}


