
.button{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px;
    background-color: rgb(24, 24, 24);
    border: 1px solid rgb(55, 55, 55);
    border-radius: 6px;
}

.svg_block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border: 1px solid rgb(52, 52, 52);
    border-radius: 8px;
}

.button svg{
    width: clamp(18px, 4vw, 24px);
    height: clamp(18px, 4vw, 24px);
}

.button .title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(163, 163, 163);
    margin: 0;
}

.count_block{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        margin: 0;
        color: rgb(166, 166, 166);
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media (min-width: 1280px){
    .button .title{
        font-size: 16px;
    }
}