
.button_more{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    button{
        user-select: none;
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 6px 18px;
        color: rgb(0, 0, 0);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 6px;
        background-color: rgb(255, 154, 100);
    }
}

