
.button_create{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 6px;
    border: none;
    border-radius: 6px;
    background-color: rgb(52, 26, 0);
    border: 1px solid rgb(228, 109, 25);

    p{
        user-select: none;
        color: rgb(255, 255, 255);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-family: 500;
        font-size: 14px;
        margin: 0;
    }
}