
.button_signout{
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    p{
        user-select: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(163, 163, 163);
        margin: 0;
    }
}

.button_signout svg{
    width: clamp(20px, 4vw, 22px);
}

@media (min-width: 1440px){
    .button_signout p{
        font-size: 18px;
    }
}