
.wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40%;
    padding: 6px 0px;
}

.button_save{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 12px;
    background-color: rgb(238, 136, 73);
    border-radius: 10px;

    p{
        user-select: none;
        margin: 0;
        color: rgb(0, 0, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
}