
.preview_hero{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 1200px;
    max-width: 100%;
    gap: 10px;
}

@media (max-width: 768px){
    .preview_hero{
        flex-direction: column;
    }
}