

.tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.tile{
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    background-color: rgb(35, 35, 35);
    border: none;
    border-radius: 10px;
    outline: none;
    color: rgb(235, 235, 235);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.tile.wrong{
    animation: shakeAndHighlight .4s;
}

@keyframes shakeAndHighlight{
    0%   { transform: translateX(0); }
    20%  { transform: translateX(-5px); background-color: rgb(62, 2, 0); border:1px solid #ff0000;}
    40%  { transform: translateX(5px); background-color: rgb(62, 2, 0); border:1px solid #ff0000;}
    60%  { transform: translateX(-4px); background-color: rgb(62, 2, 0); border:1px solid #ff0000;}
    80%  { transform: translateX(4px); background-color: rgb(62, 2, 0); border:1px solid #ff0000;}
    100% { transform: translateX(0); }
}