
.button{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    p{
        user-select: none;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        margin: 0;
        color: #f59643;
    }
}
