
.overlay{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    z-index: 10;
    background: rgba(1, 1, 1, 0.5);
    backdrop-filter: blur(16px);
    animation: appearance .4s ease forwards;
}

@keyframes appearance{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}