
.button_signin{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 6px;
    width: 80px;
    border: 1px solid rgb(255, 141, 89);

    p{
        user-select: none;
        margin: 0;
        color: rgb(255, 141, 89);
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media (min-width: 1440px){
    .button_signin{
        padding: 6px;
        width: 90px;
    }

    .button_signin p{
        font-size: 18px;
    }
}