
.button_signin{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border-radius: 10px;
    gap: 10px;
    border: 1px solid rgb(255, 119, 0);

    p{
        user-select: none;
        margin: 0;
        color: rgb(255, 119, 0);
        font-size: 14px;
        font-weight: 500;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (min-width: 1440px){
    .button_signin{
        padding: 6px 18px;
    }

    .button_signin p{
        font-size: 16px;
    }
}