
.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
}

.overlay.overlayOpen{
    opacity: 1;
    visibility: visible;
}

.side_bar{
    position: fixed;
    top:0;
    right: 0;
    width: 30%;
    height: 100vh;
    padding: 0px 8px;
    background-color: #111111;
    border-left: 1px solid rgb(36, 36, 36);
    transform: translateX(100%);
    transition: transform .3s ease;
    z-index: 10;
}

.side_bar.open{
    transform: translateX(0);
}


@media (max-width: 720px){
    .side_bar{
        width: 70%;

    }
}