
.block_input{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

input{
    user-select: none;
    width: 100%;
    outline: none;
    border: 1px solid rgb(53, 53, 53);
    background-color: transparent;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    transition: all .3s ease;
}

input:focus{
    border-color: #e68a48;
    box-shadow: 0 0 5px 2px rgba(255,165,0,.3);
}