
.block_text{
    width: 720px;
    max-width: 90%;
    text-align: center;
    word-wrap: break-word;
}

.text_preview{
    font-family: Arial, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 38px;
    color: rgb(254, 254, 254);

    p{
        margin: 0;
    }
}

.block_description{
    display: flex;
    margin-top: 10px;
    max-width: 1000px;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_description{
    max-width: 500px;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(220, 220, 220);
    text-align: center;
    p{
        margin: 0;
    }
}

@media (min-width: 1440px){
    .block_text .text_preview p{
        font-size: 40px;
    }

    .block_description{
        max-width: 1250px;
    }

    .block_description .text_description p{
        font-size: 16px;
    }
}